.comments {
  margin-left: 15px;
  width: 50%;

  div {
    margin-bottom: 20px;
  }

  .date {
    color: #999;
    font-size: 13px;
  }

  .comment {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 5px;
  }
}
