.app {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 768px;

  h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }
}
